body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-pills .nav-link.active {
  background-color: rgb(229, 171, 77);
  color: rgb(248, 243, 233);
  font-family: Poppins, "sans-serif";
  font-weight: 600;
}

.nav-pills .nav-link {
  color: rgb(0, 0, 0);
  font-family: Poppins, "sans-serif";
}

.font-poppins {
  font-family: Poppins, "sans-serif";
}

.font-poppins-heading {
  font-family: Poppins, "sans-serif";
  font-weight: 700;
}

.fa-pencil {
  color: orange;
}

.fa-trash {
  color: red;
}

.topping-input {
  background-color: rgb(255, 251, 230);
  padding: 0 20px;
  margin: 20px;
  border: 0;
}

.topping-btn {
  padding: 0 20px;
  border: 0;
  width: 100px;
  background-color: rgb(42, 127, 42);
  font-weight: bolder;
}