span {
  white-space: pre;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-right: 6rem;
}

.list-container {
  width: 90%;
  padding: 2rem;
}

.nav-pills .nav-link.active {
  background-color: rgb(229, 171, 77);
  color: rgb(248, 243, 233);
  font-family: Poppins, "sans-serif";
  font-weight: 600;
}

.nav-pills .nav-link {
  color: rgb(0, 0, 0);
  font-family: Poppins, "sans-serif";
}

.font-poppins {
  font-family: Poppins, "sans-serif";
}

.font-poppins-heading {
  font-family: Poppins, "sans-serif";
  font-weight: 700;
}

.fa-pencil {
  color: orange;
}

.fa-trash {
  color: red;
}

.fa-check {
  color: green;
}

.fa-x {
  color: black;
}

.add-container {
  margin-bottom: 1rem;
}

.topping-input {
  background-color: rgb(255, 251, 230);
  border: 1px solid rgb(224, 208, 208);
  border-radius: 10px;
  width: 20rem;
  font-family: "courier";
  font-size: 16px;
}

.edit-form {
  border: 0;
  font-family: "courier";
  width: 80%;
}

.topping-btn {
  padding: 0 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 10rem;
  background-color: rgb(42, 127, 42);
  font-weight: bolder;
  font-size: 16px;
}

.topping-list-group-item {
  border: 1px solid rgb(155, 167, 145);
  border-radius: 10px;
  font-size: 18px;
  font-family: Poppins, "sans-serif";
}

.pizza-list-group-item {
  border: 1px solid rgb(155, 167, 145);
  border-radius: 10px;
}

.topping-subtitle {
  color: rgb(126, 125, 125);
}

.pizza-name {
  font-family: Poppins, "sans-serif";
}

.pizza-btn {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 20rem;
  background-color: rgb(42, 127, 42);
  font-weight: bolder;
  font-size: 18px;
}

.test-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.test-2 {
  /* position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px; */
  border: 1px solid;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  background-color: red;
}
/* .modal {
  {{
    overlay: {
      position: "fixed",
      top: 0,
      left: 0,
      right: 0,
      bottom: 0,
      opacity: 1,
    },

    content: {
      position: "absolute",
      width: "500px",
      height: "300px",
      top: "200px",
      left: "500px",
      right: "500px",
      bottom: "200px",
      border: "1px solid #ccc",
      background: "blue",
      overflow: "auto",
      WebkitOverflowScrolling: "touch",
      borderRadius: "4px",
      outline: "none",
      padding: "20px",
    },
  }}
} */
